@if (Character is not null)
{
    <span class="fw-bolder d-inline-block text-truncate align-text-top" style="max-width: 12em;">
        @Character.DisplayName
    </span>
    <span class="d-inline-block align-text-top">
        @Character.Stats
    </span>
    @if (ShowOwner)
    {
        <span class="badge bg-secondary mx-2">
            @Character.OwnerName
        </span>
    }
    @if (Character.ShowSpinner)
    {
        <div class="spinner-grow spinner-grow-sm float-end" role="status"></div>
    }
    @if (Character.IsDead)
    {
        <span class="fs-6 float-end d-inline-block align-text-top">&#x1F480;</span>
    }
    @if (Character.AttackedBy is not null)
    {
        <span class="badge bg-danger mx-2" title="Attacked By">
            &#128165; @Character.AttackedBy
        </span>
    }
}
@code {
    [Parameter] public bool ShowOwner { get; set; }
    [Parameter] public CharacterViewModel? Character { get; set; }
}
