@page "/"
@inject IChangeUserService changeUserService;
@inject IGameStateClient gameStateClient;

<PageTitle>Monxterz Squad RPG</PageTitle>

<h1>Hello, @userName!</h1>

Welcome to your new app.


@code
{
    private string userName = "...";

    protected override async Task OnParametersSetAsync()
    {
        await changeUserService.ChangeUserAsync("jacob");
        var user = await gameStateClient.GetUserAsync();
        userName = user?.DisplayName ?? user?.Id ?? "??";
    }
}
