@page "/login"
@inject IChangeUserService changeUserService;
@inject NavigationManager navigationManager;

<h3>Login</h3>

<form @onsubmit="LoginUser">
    <div class="mb-3">
        <label for="inputUserId" class="form-label">
            User ID
        </label>
        <input type="text" class="form-control" id="inputUserId" @bind="userId">
        @*<div class="form-text">We'll never share your email with anyone else.</div>*@
    </div>
@*    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>*@
    <button type="button" class="btn btn-primary" @onclick="LoginUser">
        Submit
    </button>
</form>

@code {
    string? userId;

    async Task LoginUser()
    {
        await changeUserService.ChangeUserAsync(userId);
        navigationManager.NavigateTo("/");
    }
}
